@using Microsoft.AspNetCore.Identity
@using CogShare.Domain.Entities 
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "CogShare Home";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Welcome @User.Identity.Name</h1>
}
else 
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
