@model FriendViewModel 

@{
    ViewData["Title"] = "Friends";
}

<h2>My Active Requests</h2>
<!-- Table of Requests (delete for ones created, accept/decline for ones recieved)-->

<h2>My Friends</h2>
<!-- Table of friends, with links to request items and things, and link to delete friend-->
